/* fluid images */
img {
    
    max-width: 100%;
    vertical-align: middle; /* removes gap under image */
    border: 0;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
    
    
}

.img-responsive {
    
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
    image-rendering: optimizeQuality;
    
    
}