/* -----------------------------------
Basic rules
----------------------------------- */

body
{
	margin: 0;
	padding: 20px;
	color: #000;
	background: #fff;
	font: 100%/1.4 helvetica, arial, sans-serif;
}

.content
{
	max-width: 600px;
	_width: 600px;
	background: lime;
}

/* -----------------------------------
Video
----------------------------------- */

.video-container    {
    
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    
}

.video-container iframe,
.video-container object,
.video-container embed {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
