
header  {
    
    background-image: url(images/tumblr_oerm10ZBks1uu9fqho1_500.gif);
}


#nowave {
    
    background-image: none;
    
}
body    {
    
    background-image: url(images/tumblr_oerm10ZBks1uu9fqho1_500.gif);
    background-repeat: space;
    background-position: center;
    background-color: #000000;
    color: #D59BFF;
    font-size: 120%;
    padding: 1em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Roboto Condensed', sans-serif;
    
}

h2, h5  {
    
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 140%;
    font-style: italic;
}

.read {
    
    
    background-image: url(images/stars.jpg);
    background-repeat: repeat;
    background-position: center;
    background-color: #000000;
    font-size: 120%;
    padding: 1em;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Roboto Condensed', sans-serif;
    
    
}



ul {
    list-style-type: none;
    margin: 0;
    padding: .5em;
    overflow: hidden;
    background-color: #030549;
    opacity: 0.85;
        


}

#home   {
    
    margin:0;
    padding:5em; 
    font-size:120%; 
    line-height:1;
    text-align: center;
    font-style: italic;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
    text-decoration: underline;
}

.brit   {
    
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15em;
    height: 0%;
}

form    {
    
    
    color: white;
    background-image: url(images/typing.gif);
    background-repeat: no-repeat;
    text-align: center;
    float:inherit;
    background-position: center;
    
}


#copyright  {
    
    font-family: serif;
    margin: 5px;
    padding: 2px;
    text-align: center;
    background-color: black;
    color: mediumpurple;
    
}

#imgproject {
    
    display: inline-block;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;

}

.code {
    
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    height: 0%;
    padding: .5em;
    
    

}