*   {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body    {
    background-color: #292929;
    font-family: 'Roboto', sans-serif;
    color: #4e48f7;
    
    
    
}

img {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 0%;
}

h1  {
    
    margin: 2em;
    padding: 2em;
   text-align: center;
    font-size: 20px;
}

nav {
    margin: 2em;
    padding: 2em;
    text-align: center;
    
}

ul  {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #292929;
}

li  {
    display: inline;
    padding: 1em;
    
}


#blue  {
    
    float: left;
    padding:1em;
    margin: 1em;
    
}