/* -----------------------------------
Basic rules
----------------------------------- */

body
{
	margin: 0;
	padding: 20px;
	color: #000;
	background: #fff;
	font: 100%/1.4 helvetica, arial, sans-serif;
}

table
{
	margin: 0;
	border-collapse: collapse;
}

td, th
{
	padding: .5em 1em;
	border: 1px solid #999;
}

/* -----------------------------------
Table styles
----------------------------------- */

.table-container    {
    
    width: 100%;
    overflow-y: auto;
    _overflow: auto;
    margin: 0 0 1em;
    
}

.table-container::-webkit-scrollbar {
    
    -webkit-appearance: none;
    width:14px;
    height:14px;
    
}

.table-container::-webkit-scrollbar-thumb   {
    
    border-radius: 8px;
    border: 3px solid #fff;
    background-color: rgba(0,0,0,.3);
    
}

.table-container-outer  {
    
    position: relative;
}

.table-container-fade   {
    
    position: absolute;
    right: 0;
    width: 30px;
    height: 100%;
    background-image: -webkit-linear-gradient(90deg, rgba(255,255,255, .5),#fff);
}
