/* -----------------------------------
Basic rules
----------------------------------- */

body
{
	margin: 0;
	padding: 20px;
	color: #000;
	background: #fff;
	font: 100%/1.4 helvetica, arial, sans-serif;
}

/* -----------------------------------
Form - narrow
----------------------------------- */


/* -----------------------------------
Form - wide
----------------------------------- */

@media (min-width:25em)
{
    .submission-form    {
        
        max-width: 40em;
    }
    
    .label  {
        
        float: left;
        width: 25%;
        margin: 0 2% 0 0;
        text-align: right;
        
    }

    .input, .select, .textarea  {
        float: left;
        width: 70%;
        
    }
    
    .form-indent    {
        
        margin-left: 27%;
        width: 70%;
        
    }
        
}
